
img .profileImg{
	width:180px;
	height: 180px;
}


#ficha-noticia .imagen-noticia{
width: 400px; height: 200px;
}

#ficha-noticia .contenido-noticia textarea{
	width:100%;
	height: 100%;
	columns: 30;
	word-wrap: inherit;
	text-align: justify;
}